<ion-header>
  <ion-navbar color="themeColor">
    <ion-title>Add Member</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label>School</ion-label>
      <ion-select [(ngModel)]="school_id">
        <ion-option *ngFor="let school of schoolList;" value="{{school.school_id}}"> {{school.name}} </ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input [(ngModel)]="fname" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Middle Name</ion-label>
      <ion-input [(ngModel)]="mname" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input [(ngModel)]="lname" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Select Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option value="male">Male</ion-option>
        <ion-option value="female">Female</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Select Batch</ion-label>
      <ion-select [(ngModel)]="batch">
        <ion-option value="male" *ngFor="let gb of genBatch;">{{gb}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Select Scout</ion-label>
      <ion-select [(ngModel)]="scout">
        <ion-option value="cabs scout">cabs scout</ion-option>
        <ion-option value="bsp">bsp</ion-option>
        <ion-option value="gsp">gsp</ion-option>
        <ion-option value="star scout">star scout</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Amount Payed</ion-label>
      <ion-input [(ngModel)]="amount" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Grade</ion-label>
      <ion-input [(ngModel)]="grade" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-input [(ngModel)]="address" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Birth Date</ion-label>
      <ion-input [(ngModel)]="bdate" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Age</ion-label>
      <ion-input [(ngModel)]="age" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Religion</ion-label>
      <ion-input [(ngModel)]="religion" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Guardian Name</ion-label>
      <ion-input [(ngModel)]="guard_name" type="text"></ion-input>
    </ion-item>

     <ion-item>
      <ion-label floating>Guardian No. eg:(6391234567890)</ion-label>
      <ion-input [(ngModel)]="guard_name_no" type="text"></ion-input>
    </ion-item>
  </ion-list>
  <br/>
  <button ion-button color="themeColor" (click)="registerStudent()" class="s-button" full block>Register Student</button>
  <br><br>
</ion-content>
